@charset "UTF-8";

body {
	font-family: 'Kanit', sans-serif;
}

/* ✅ Title */
h5 {
	color: #056f00;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

/* ✅ เส้นแบ่งหัวเรื่อง */
hr {
	border-top: 2px solid;
	margin-bottom: 1rem;
}

label {
	font-weight: bold;
}